.peaqock-services {
  background: url(../../../assets/images/shape.svg);
  overflow: hidden;
  height: 1000px;
  align-items: center;

  .peaqock-services-left {
  }
  .peaqock-services-right {
    .peaqock-services-chart {
    }
  }
}
