@import "@fontsource/inter";

.home {
  padding-top: 610px;
  //   border: 1px solid red;
  background: url(../assets/images/chuttersnap-eqwFWHfQipg-unsplash.jpg)
    no-repeat center/cover;
  .home-left-content {
    background: rgba(37, 37, 37, 0.2);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    padding-left: 100px;
    .home-left-content-header {
      margin-bottom: 44px;
      //   border: 2px solid red;
      .home-left-content-header__text {
        font-family: "Sofia Pro";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 70px;
        text-transform: uppercase;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .home-left-content-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .home-left-content-footer__btn {
        margin-right: 50px;
        background: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 60px;
        padding: 20px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span.home-left-content-footer__text {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 35px;
          color: #127682;
        }
      }
      .home-left-content-footer__img {
      }
    }
  }
  .home-right-content {
    background: rgba(37, 37, 37, 0.2);
    backdrop-filter: blur(5px);
  }
}
