html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/Sofia-Pro-Black-Az.otf") format("truetype");
  /* font-weight: ; */
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProBoldAz.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProExtraLightAz.otf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProLightAz.otf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProMediumAz.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProMediumAz.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProRegularAz.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProSemiBoldAz.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro"),
    url("./fonts/Sofia-Pro/SofiaProUltraLightAz.otf") format("truetype");
  font-weight: 200;
}
/* Circe */

@font-face {
  font-family: "Circe";
  src: local("Circe"), url("./fonts/Circe/Circe-Bold.otf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Circe";
  src: local("Circe"),
    url("./fonts/Circe/Circe-ExtraBold.otf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Circe";
  src: local("Circe"), url("./fonts/Circe/Circe-Light.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Circe";
  src: local("Circe"),
    url("./fonts/Circe/Circe-ExtraLight.otf") format("truetype");
  font-weight: 200;
}
